h1 {
  font-family: 'PT Sans Narrow', sans-serif ;
  font-size: 150px ;
  text-align: center;
  /* color: white; */
}

.intro-container {
  font-family: 'PT Serif', serif ;
  text-align: left;
  width: 40%;
  margin: 0 auto;
  padding-bottom: 50px;
  /* color: white; */
}
